@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto&display=swap");

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  margin: 0;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: #111;
  z-index: 1000;
  box-sizing: border-box;
}

.welcomeMsg {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Creepster", cursive;
  font-size: 2rem;
  color: white;
  margin-left: 35px;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.logo a:hover {
  color: crimson;
  text-shadow: 0 0 5px crimson;
}

.signSection {
  display: flex;
  gap: 10px;
  margin-right: 25px;
}

.signBtn {
  border: none;
  background-color: crimson;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signBtn:hover {
  background-color: #850b0b;
  box-shadow: 0 0 8px #850b0b;
}

/* Burger button */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 25px;
  padding: 0;
  box-sizing: border-box;
}

.burgerLine,
.burgerLineActive {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s linear;
}

/* Burger animation when active */
.burgerLineActive:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgerLineActive:nth-child(2) {
  opacity: 0;
}

.burgerLineActive:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Responsive */

@media (max-width: 900px) {
  .signSection {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #111;
    flex-direction: column;
    width: 150px;
    padding: 10px;
    display: none;
    border-left: 1px solid white;
    height: calc(100vh - 60px);
    box-sizing: border-box;
  }

  .signSection.showMenu {
    display: flex;
  }

  .burger {
    display: flex;
  }
}
